
<% include header.ejs%>

<link rel='stylesheet' href='/stylesheets/index.css' />
<script src='/javascripts/index.js'></script>



<div class="container">

 





    <form action="/step01" method="post" enctype="multipart/form-data" >

    	<label for="store_id">店铺的ID:</label>
    	<input name="store_id" id="store_id" type="text"  placeholder="店铺的ID">
        <span class="must_item">*</span>
    	<br>

        <label for="category_id">行业的ID:</label>
        <select name="category_id" id="category_id">
          <option value ="1000">酒店</option>
          <option value ="1040">婚庆</option>
          <option value ="1060">珠宝</option>
          <option value ="2084">旅游</option>
          <option value ="1080">礼服</option>
          <option value ="2065">摄影</option>
          <option value ="1100">百货</option>
        </select>


        <br>

        <label for="subject_pc_id">PC专题的ID:</label>
        <input name="subject_pc_id" id="subject_pc_id" type="text"  placeholder="专题的ID">
        <br>

        <label for="subject_wap_id">WAP专题的ID:</label>
        <input name="subject_wap_id" id="subject_wap_id" type="text"  placeholder="专题的ID">
        <br>

        <label for="good_id">商品ID:</label>
        <input name="good_id" id="good_id" type="text"  placeholder="商品ID">
        <br>


    	<label for="book_city">城市缩写:</label>
    	<select name="book_city" id="book_city">
    	  <option value ="tj">tj</option>
          <option value ="bj">bj</option>
          <option value ="hz">hz</option>
          <option value ="sh">sh</option>
          <option value ="wh">wh</option>
    	  <option value ="gz">gz</option>
    	</select>
        <br>

    	<label for="wap_init_h">WAP初始化高度:</label>
    	<input name="wap_init_h" id="wap_init_h" type="text" value="300">
    	<br>
    	<label for="pc_init_h">PC初始化高度:</label>
    	<input name="pc_init_h" id="pc_init_h" type="text" value="400">
      <br>

      <label for="img_name_pre">图片名字前缀</label>
      <input name="img_name_pre" id="img_name_pre" type="text" value="bg">

      <br>

    	<label for="wap_upload">WAP图片:</label>
    	<input name="wap_upload" id="wap_upload" type="file" placeholder="WAP图片">
    	<br>
    	<label for="pc_upload">PC图片:</label>
    	<input name="pc_upload" id="pc_upload" type="file" placeholder="PC图片">
    	<br>

    </form>

        <button class="submit_btn">确定</button>


</div> 

<% include footer.ejs%>



