
<% include header.ejs%>

<link rel='stylesheet' href='/stylesheets/step02.css' />
<script src='/javascripts/step02.js'></script>



<div class="container">

 





    <form action="/step02" method="post" >

		<% if(wap_url){ %>
	    	<label for="wap_replace_path">WAP替换图片路径</label>
	    	<input name="wap_replace_path" id="wap_replace_path" type="text"  placeholder="WAP路径">
	    	<br>
		<% } %>
		<% if(pc_url){ %>
	    	<label for="pc_replace_path">PC替换图片路径</label>
	    	<input name="pc_replace_path" id="pc_replace_path" type="text"  placeholder="PC路径">
	        <br>
		<% } %>
    </form>


    <button class="submit_btn">确定</button>


</div> 

<% include footer.ejs%>



