
label{
	display: inline-block;
	width: 80px;
	vertical-align: top;
}
.to_first{
    width: 100px;
    height: 40px;
    font-size: 24px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: #bcbcbc;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    color:black;
    display: block;
    margin: 20px;
}